body{background-color: #fbf7ed; color:#635752;}
header{background-image: linear-gradient(#807063, #736255); color:#fff;}
.novel-content.container{max-width: 800px;}
.novel-content{line-height: 2;}
.novel-content p{margin-top: 15px;}
.novel-content>div>a+p{margin-top: 100px;  font-weight: bold;}
