
header{background-image: linear-gradient(#807063, #736255); color:#fff; position: fixed; top:0; width:100%; z-index: 9; transform: translateY(-100%);}

.animation-mode{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    }
.animation-mode.active-pos{
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;

}   

.fun-page{background: #333; color:#fff; font-family: sans-serif; padding: 0; margin: 0; width: 100%; height: 100%;}
.fun-page h1{display: none;}
.fun-page h2{position: absolute; top: 50%; width: 100%;}

.novel-body{background-color: #fbf7ed; color:#635752;}
.novel-body.nightmode{background-color: #333; color:#fff;}
.novel-content.container{max-width: 800px; overflow: hidden;}
.novel-content{line-height: 2; word-break:normal;  }
.novel-content p{margin-top: 15px;}
.novel-content>div>a+p{padding-top: 100px;  font-weight: bold;}
#novel-menu {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    position: fixed;
    height: 100%;
    top: 0;
    overflow: scroll;
    padding: 20px 50px;
    background: #f1e8cf;
    color: #333;
    z-index: 2;
  }
.nightmode #novel-menu{background-color: #000; color:#fff;}
.menuActive  #novel-menu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
.menu-mask{position: fixed;  display: none;  top: 0;    width: 100%;    height: 100%;    z-index: 1;}
.menuActive .menu-mask{display: block;}

#novel-menu ul li{    border-bottom: 1px #fff solid;    padding: 8px 20px;}
#novel-menu a{display: block;  cursor: pointer;}
#novel-menu a:hover{
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
    }
    .slider {
      appearance: none;
      width: 100%;
      height: 3px;
      border-radius: 5px;
      background: #807063;
      float:left;
      outline: none;

      -webkit-transition: .2s;
      transition: opacity .2s;
      margin-top: 10px;
    }
    
    /* Styling for the slider thumb */
    .slider::-webkit-slider-thumb {
      appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #807063;

      cursor: pointer;
    }
.setting-top{    position: absolute;  right: 15px;  background: #fff;  padding: 20px;  top: 90px; opacity: 0.8;  color:#807063; width: 300px; visibility:hidden; border: #ccc solid 1px;
  -webkit-transform: translateY(-80px) translateX(120px) scale(10%);
  -moz-transform:  translateY(-80px) translateX(120px) scale(10%);
  -ms-transform:  translateY(-80px) translateX(120px) scale(10%);
  -o-transform:  translateY(-80px) translateX(120px) scale(10%);
  transform:  translateY(-80px) translateX(120px) scale(10%);
}
.setting-top  .title{font-weight:bold;}
.menu-btn, .setting-btn{font-size:24px; width:50px;}
.menu-btn:hover .fa-bars:before{content: "\f550";}

.menu-close{position: absolute;  left:30px; top:25px;     font-size: 24px;}

@keyframes spin {  0% { transform: rotate(0deg); }  100% { transform: rotate(360deg); }}
.animate-spin {  animation: spin 2s linear infinite;}

    
