/* @keyframes move-left-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  } */

  @keyframes move-left-right  {
    0% { left: var(--initial-left); }
    50% { left: 100%; }
    100% { left: var(--initial-left); }
  }
  @keyframes move-right-left {
    0% { left: var(--initial-left); }
    50% { left: 0%; }
    100% { left: var(--initial-left); }
}

  :root {
    --main-color: #FF9000;
    --main-font: 'Nunito Sans', sans-serif;  

  }

  html {    scroll-behavior: smooth;  }
  body{background: #333; color:#fff; font-family:var(--main-font);}
  .maincolor{color: var(--main-color); }
  .maincolorbg{background-color:var(--main-color);  color:#fff;}
  .section-padding{padding:100px 0}

  #home{width: 100%;  position: relative; overflow: hidden;}
  #home .moving-text{margin:0; position: absolute; font-family: "Space Mono", Arial, serif; color:#6a6a6a; cursor: pointer;}
  #home .next,  #about .next{bottom: 10%;}
  /* #home .moving-text{color: rgba(255, 255, 255, 0.25);} */
  .moving-text .skill-text{float: left; margin-right: 20px; font-size: 24px;}
  .moving-text .percent-num{font-size:18px; float:right; width:50px;  height:50px; }
  .logo{background-color: #4c4c4c; border: #6a6a6a solid  5px; text-align: center;  border-radius: 50%; width: 200px; height: 200px; margin:auto; position: relative; z-index: 2;}
  .logo  h1{  font-family: "Outfit", sans-serif;  font-weight: 600;    margin-bottom: 0;    font-size: 36px;   color:#fff;   margin-top: 70px;}

  .fade-enter-active, .fade-leave-active {    transition: opacity 0.5s;  }
  .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {    opacity: 0;  }
  
  .circular-chart {
    display: block;
    margin: auto;
    max-width: 50px; /* Smaller size */
    max-height: 50px; /* Smaller size */
  }
  
  .circle-bg {    fill: none;    stroke: #ccc ;    stroke-width: 2; /* Thinner ring */  }
  .circle {    fill: none;    stroke-width: 2;  stroke-linecap: round;    stroke: var(--main-color);    transition: stroke-dasharray 0.5s;  }
  .percentage {    fill: #ccc;    font-size: 0.5em;    text-anchor: middle;  }
  .next{position: absolute;  bottom: 0;  left: calc(50% - 15px);    width: 30px;    height: 30px;    border-radius: 50%;    background-color:#6a6a6a;    text-align: center;    color: #fff;}
  .next:hover{ background-color:var(--main-color); color:#fff;}
  .next  i{display: table-cell;    vertical-align: middle;    height: 30px;    width: 30px;    font-size: 18px;}
  .gototop a:hover{color:var(--main-color);}
  .copyright{float:left; padding:10px;}
  #footer .cont{float:right; padding:10px;}
  #footer .cont a, #footer .cont span{color:#fff;  margin-left:10px}
  
  

  @media screen and (max-width: 768px) {
    #resume .next{left: 27px;     bottom: -5px;}
  }