/* @keyframes move-left-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  } */

  @keyframes move-left-right  {
    0% { left: var(--initial-left); }
    50% { left: 100%; }
    100% { left: var(--initial-left); }
  }
  @keyframes move-right-left {
    0% { left: var(--initial-left); }
    50% { left: 0%; }
    100% { left: var(--initial-left); }
}

  :root {
    --main-color: #FF9000;
    --main-font: 'Nunito Sans', sans-serif;  

  }

  body{background: #333; color:#fff; font-family:var(--main-font);}
  .maincolor{color: var(--main-color); }
  .maincolorbg{background-color:var(--main-color);  color:#fff;}
  .section-padding{padding:100px 0}

  #home{width: 100%;  position: relative; overflow: hidden;}
  #home p{margin:0; position: absolute; font-family: "Space Mono", Arial, serif;}
  #home .moving-text{color: rgba(255, 255, 255, 0.25);}
  .logo{background-color: #4c4c4c; border: #6a6a6a solid  5px; text-align: center;  border-radius: 50%; width: 200px; height: 200px; margin:auto; position: relative; z-index: 2;}
  .logo  h1{  font-family: "Outfit", sans-serif;  font-weight: 600;    margin-bottom: 0;    font-size: 36px;   color:#fff;   margin-top: 70px;}